@import "../../../style.scss";

.leftBar{
    @include themify($themes){
    flex:2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed(bg);
    color:themed(textColor);
    cursor: pointer;
    @include mobile{
        display: none;
    }
    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        .menu{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                width: 30px;
                height: 30px;
                border-radius: 50px;
                object-fit: cover;

                }
                span{ }

            }

            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                
                img{
                    width:30px;

                }
                span{

                }
            }
        
    }
    }
}
    }